<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Web App</title>
        <link rel="stylesheet" href="../static/css/styleHome.css" type="text/css" media="all" />
        <script src="../static/js/appHome.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <h1> Web Application </h1>
        <div>
            <img src="https://cdn.dribbble.com/users/2094152/screenshots/6803923/incredible_.gif" /> <br/> <br/>
            <button onClick={register_page()}> Register </button> 
            <button onClick={consult_page()}> Consult </button>
        </div>
    </body>
</html>