{"filter":false,"title":".gitignore","tooltip":"/aws-cym-gr8-version-s3/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":2,"column":7},"end":{"row":3,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":2,"column":7},"end":{"row":3,"column":0},"action":"insert","lines":["",""],"id":3},{"start":{"row":3,"column":0},"end":{"row":4,"column":0},"action":"insert","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":0},"end":{"row":4,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1715988961727,"hash":"0855caa568acac8902532f0b02bfdda3c3583a44"}